<li id="article-<%= article.id %>">
<% @article = article %>
  <%= link_to gravatar_for(article.user, size: 50), article.user %>
  <span class="name"><%= link_to article.name, article_path(article) %></span>
  <span>
    <%= link_to (image_tag article.images.first.src.url), article_path(article.id), class: 'article-image' %>
  </span>
  <%= render 'users/favorite_form' %>
  <span class="description"><%= article.description %></span><br>
  <span class="place">場所：<%= article.place.name %></span><br>
  <span class="popularity">おすすめ度：<%= article.popularity %></span><br>
  <span class="reference"><%= link_to "HP", article.reference, target: :_blank %></span>
  <span class="timestamp">
    <%= time_ago_in_words(article.created_at) %>前に投稿
  </span>
  <% if current_user.admin? || (current_user == article.user) %>
    <%= link_to "削除", article_path(article), method: :delete,
                       data: { confirm: "本当に削除しますか？" } %>
  <% end %>
</li>
